<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Feed Me</h1>
    <p class="lead">A place to store and share all of your recipes and get automated meal plans each week.</p>
    <dl>
    	<dt>Home</dt>
    	<dd>You are here.</dd>

    	<dt>Recipes</dt>
    	<dd>Add, view, and edit recipe information such as ingredients, cuisine, meal type, diet, and links.</dd>

    	<dt>Ingredients</dt>
    	<dd>Add, view, and edit ingredients.</dd>

    	<dt>Cuisines</dt>
    	<dd>Add, view, and edit cuisine information (e.g. Italian, Chinese, etc.)</dd>

    	<dt>Diets</dt>
    	<dd>Add, view and edit diets (e.g. keto, vegan, etc.)</dd>
    </dl>
  </div>
</div>