<main class="container">
	<div class="row">
		<h1>Add or Edit Your <em>Recipes</em></h1>
        <h4>Add a new recipe or click on an existing recipe to add ingredients, cuisines, diets etc. to an existing recipe</h4>

        <div id="item_form">
            <section>
                <h2>Edit Recipes</h2>

                <ul>
                    {{#each recipeArray.data}}
                    <li>
                        <div>
                            <a href="/recipes/{{this.recipe_id}}">{{this.name}}</a>
                            <form id="deleteRecipeForm" action="/recipes/{{this.recipe_id}}">
                                <input id="deleteRecipeButton" type="image" src="../img/minus.png" class="delete_item btn btn-danger btn-sm">
                            </form>
                        </div>
                    </li>
                    {{/each}}
          
                </ul>
            </section>
            <section>
                <h2>Add Recipes</h2>
                <!-- Text box for entering the name of an ingredient -->
                <form action="/recipes" method="POST" id="addRecipeForm">
                	<div class="form-group">
	                    <label for="recipeUrl">Link:</label>
	                    <input type="text" class="form-control" name="recipeUrl" id="recipeUrl">
	                </div>
	                <div class="form-group">    
	                    <label for="name">Name:</label>
	                    <input type="text" class="form-control" name="name" id="name">
	                </div>
	                <div class="form-group">    
	                    <label for="description">Description:</label>
	                    <input type="text" class="form-control" name="description" id="description">
	                </div>
                    <div class="form-group">    
                        <label for="description">Serving Amount:</label>
                        <input type="number" class="form-control" name="servingAmount" id="servingAmount">
                    </div>

	                

                    <!-- This button connects to a POST request -->
                    <input type="image" src="../img/plus.png" class="add_item btn btn-success btn-sm" id="addRecipeButton">
                </form>
            </section>
        </div>
	</div>
</main>