h1 {
    margin: 0.25em auto 0.5em;
}

#item_form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}

#item_form ul {
    list-style: none;
    padding-left: 0;
}

#item_form li > form {
    font-size: 1.25em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

form > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}

label {
    font-size: 1.25em;
}

.editable_input {
    font-size: 1.25em;
    color: black;
}

.editable_input[disabled] {
    border: none;
    background-color: white;
}

.editable_input:not([disabled]) {
    border: 1px solid silver;
    border-radius: 4px;
}

input[type="image"] {
    height: 24px;
    width: 24px;
    border-width: 2px;
    border-radius: 4px;
    background-color: white;
    margin-left: 0.5em;
    padding: 0;
}

.confirm_item_edit, .cancel_item_edit {
    display: none;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    padding: 0 8px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
}

input[type="checkbox"]:not(:checked) + label {
    background-color: #d8d8d8;
    border-color: #818181;
    color: #818181;
}

input[type="checkbox"]:checked + label {
    color: #e1e1e1;
    background-color: #007bff;
    border-color: #0055ff;
}

.checkbox-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

#filter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

label[for="filter_box"] {
    font-size: 1.5em;
    color: silver;
}

#filter_box {
    display: inline;
    border-radius: 8px;
    padding: 0 0.25em;
    margin: 0.5em 0 1em;
    flex-grow: 2;
    margin-left: 0.5em;

}